.foter-content.container.d-flex.justify-content-center.mt-5.pb-4
    a.text-white.footer-link(href='https://t.me/kvabrodika') Телеграм
    a.text-white.footer-link(href='https://vk.com/eblazdec') VK
    a.text-white.footer-link(href='https://www.tiktok.com/@ebla_zdecc') Tik Tok